# Flutter & Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-dependencies
.melos_tool

# IDEs
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/.idea/
android/local.properties
android/*.iml
*.keystore
*.jks
*.apk

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/.generated/
ios/Runner.xcworkspace/
ios/*.xcworkspace
ios/Flutter/App.framework

# Xcode
xcuserdata/
DerivedData/
*.xcuserstate

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/*.xcworksp*
